.wrap {
  padding-top: 30px;
}
.playerOne,
.playerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
